
  <div class="container-fluid">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
  
        <div class="item active">
          <img src="assets\Z2.jpg " class="img-thumbnail" style="width:100% ;height: 500px;">
          
          <div class="carousel-caption">
            <h3>Educational Qualifications: </h3>
            <p> Most web development training institutes do not have strict educational requirements. 
              However, a high school diploma or equivalent is typically expected.</p>
          </div>
        </div>
  
        <div class="item">
          <img src="assets\q2.jpeg"  class="img-thumbnail" style="width:100%; height: 500px;">
          <div class="carousel-caption">
            <h3>Programming Knowledge</h3>
            <p>While not always mandatory, having a basic understanding of programming concepts and languages like HTML, CSS, and JavaScript can be advantageous when pursuing web development training.
               However, some institutes offer beginner-friendly courses that assume no prior programming knowledge.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets\q3.jpeg" class="img-thumbnail" style="width:200%; height: 500px;">
          <div class="carousel-caption">
            <h3>Basic Computer Skills: </h3>
            <p>Proficiency in using computers, including basic knowledge of operating systems (such as Windows, macOS, or Linux) and familiarity with software applications like web browsers and text editors, is essential.

            </p>
          </div>
        </div>
 
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
 
 
  <hr>
  <section>
    <h1 class="text-center" > <b> ABOUT US</b></h1>
    <br>
    <div class="row">
      <div class="col-2">

      </div>
    <div class="col-4">

      <img src=" assets\Z1.jpg" class="rounded-circle" width="95%" style="margin-left: 10px;" > 
    </div>
    <div class="col-5">


      <h3 >
        
We are into Best IT Training institute in Hyderabad. </h3>
<h3 >
We offer a wide range of high quality of training for the most popular IT Courses.
</h3>
      <button  class="btn btn-primary px-3 " style="margin: 50PX;" >Get Started</button>
    </div>
    <div class="col-1"></div>
  </div>
  </section>
  <hr>

  <section class="services">
    <h1 class="heading-title1 text-center "><b>  OUR COURSES</b></h1>
    <h3 class="heading-title text-center">WE MAKE LEARNING EASIER, CONVENIENT & PRACTICAL FOR YOU</h3>
    <div class="box-container">
    <div class="box"><a routerLink="/powerbi">
      <img src="assets\p1.jpg" class="rounded-circle"  >
           <h3>POWER BI</h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3"> check detials</button></a></a>
        </div>

        <div class="box"><a  routerLink="/python">
           <img src="assets\p2.jpg" class="rounded-circle" routerLink="/python" >
          <h3>PYTHON</h3>
          <a href="assets\Python.pdf">
            <button  class="btn btn-primary px-3"> check detials</button></a></a>
       </div>

       <div class="box"><a routerLink="/sap">
        <img src="assets\d6.jpeg"  class="rounded-circle" routerLink="/sap">
        <h3>SAP</h3>
        <a href="assets\sap.pdf" >
          <button  class="btn btn-primary px-3"> check detials</button></a></a>
     </div>
     
     <div class="box"><a routerLink="/devops">
      <img src="assets\p3.png" class="rounded-circle"routerLink="/devops">
      <h3>DevOps</h3>
      <a href="assets\devop.pdf" >
        <button  class="btn btn-primary px-3"> check detials</button></a></a>
   </div>
   
 <div class="box"><a routerLink="/aws">
  <img src="assets\download.png" class="rounded-circle" routerLink="/aws">
  <h3>AWS</h3>
  <a href="assets\aws.pdf">
    <button  class="btn btn-primary px-3"> check detials</button></a></a>
</div>
<div class="box"><a  routerLink="/digital">
  <img src="assets\DI.jpeg"  class="rounded-circle"  routerLink="/digital">
     
       <h3>DIGITAL MARKETING</h3>
       <a href="assets\DigitalMarketingCourseContent29.pdf">
       <button  class="btn btn-primary px-3"> check detials</button></a></a>
    </div>
    
    <div class="box"><a routerLink="/micro">
      <img src="assets\MM.png" class="rounded-circle " routerLink="/micro" >
         
           <h3>Microsoft Dynamic CRM</h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3"> check detials</button></a></a>
    </div>
    
    <div class="box"><a routerLink="/azure" >
      <img src="assets\d5.png" class="rounded-circle"routerLink="/azure" >
         
           <h3>AZURE </h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3"> check detials</button></a></a>
    </div>
    <div class="box"><a routerLink="/django">
      <img src="assets\dj.png"  class="rounded-circle"routerLink="/django">
         
           <h3>D JANGO</h3>
           <a href="assets\d.pdf" >
           <button  class="btn btn-primary px-3"> check detials</button></a></a>
    </div>
    </div>
   
</section>
<hr>
<h2 class="container">
  Why Choose Us
  14 Years of Experience in IT Training Expert
</h2>

<div class="row container">
  <div class="col-1">

  </div>
  <div class="col-5">
    <h4 >We are Best IT Training institute in Hyderabad. 
     We offer a range of training packages in a range of subject areas and can offer blended learning opportunities to best meet your needs.
     If sitting in a room with a trainer and having the opportunity for discussion with other learners sounds good to you then we can offer this. 
     If you prefer to study in your own time and at your own speed then one of our world class facilities.
    If you prefer to study in your own time and at your own speed then one of our e-learning packages may be right up your street.
       There is a third option, which is you like the sound of both but perhaps can’t attend all training sessions, this is when blended learning comes into its own.</h4>
 
   </div>
    <div class="col-5">
<img src="assets/s6.jpg"  class="img-thumbnail" width="150%" align =" right" class="rounded" >
</div>
<div class="col-1">
</div>
</div>

  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h1 class="mb-4 text-skyblue"><b>Review</b></h1>
        <h4 class="mb-4 pb-2 mb-md-5 pb-md-0">
        
We are into Best IT Training institute in Hyderabad. 
We offer a wide range of high quality of training for the most popular IT Courses.
        </h4>
      </div>
    </div>
  <hr>

      <div class="col-md-1 mb-0"></div>
    <div class="row text-center">
      <div class="col-md-3 mb-5 mb-md-0 r">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">SHURTI</h5>
        <h6 class="text-primary mb-3">SAP</h6>
        <p class="px-xl-2">
          <i class="fas fa-quote-left pe-4"></i>The instructors were experienced professionals with in-depth knowledge of SAP. 
          Their expertise was evident as they shared real-world examples and practical insights, bridging the gap between theory and application. 
          They were patient, approachable, and responsive to questions, making the learning  interactive and engaging.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-1 mb-0"></div>
      <div class="col-md-3 mb-5 mb-md-0 r">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">SUSMITHA</h5>
        <h6 class="text-primary mb-3">POWER BI</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>The program's content was exceptional, covering all essential aspects of Power BI in a well-structured manner. From data modeling and visualization techniques to advanced features like DAX formulas and Power Query, the training program left no stone unturned. 
         
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-1 mb-0"></div>
      <div class="col-md-3 mb-0 r" >
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">ROOPA SRI</h5>
        <h6 class="text-primary mb-3">AWS</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>I recently had the opportunity to participate in an AWS training program, and I must say it was a truly valuable experience. The program provided a comprehensive and engaging learning journey that deepened my understanding of Amazon Web Services (AWS) and its various cloud computing services.

        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
          <li>
            <i class="bi bi-star-fill"></i>
          </li>
        </ul>
      </div>
    </div>
  </section>
<hr>
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-black"
          style="background-color: #cdd3de"
          >
    <!-- Section: Social media -->
  
    <section
             class="d-flex justify-content-between p-6"
             style="background-color: #4b9cdf"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-facebook" ></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Suman IT</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #965bc9; height: 2px"
                />
            <p>
              Suman IT is devoted to excellence in teaching, learning,
               and research, and developing leaders in IT industry 
               who make a difference globally.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">courses</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-black">POWER BI</a>
            </p>
            <p>
              <a href="#!" class="text-black">PYTHON</a>
            </p>
            <p>
              <a href="#!" class="text-black">AWS</a>
            </p>
            <p>
              <a href="#!" class="text-black">SAP</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-black">PRIVACY POLICY</a>
            </p>
            <p>
              <a href="#!" class="text-black">TERMS AND CONDITIONS</a>
            </p>
            <p>
              <a href="#!" class="text-black">DISCLAIMER</a>
            </p>
            <p>
              <a href="#!" class="text-black">SUPPORT</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="bi bi-geo-alt-fill"></i>Flat No.207,Niligiri Block Aditya Enclave,   Ameerpet HYDERBAD -500038</p>
            <p><i class="bi bi-envelope-fill"></i>Sumanitservice@gmail.com</p>
            <p><i class="bi bi-telephone-plus-fill"></i> + 91 73869 77110</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="#">Suman IT website Developed by <span>Sieve Softech India Pvt. Ltd.</span> </a>

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



