<div>
    <h1 class="display-1 text-center"><B> AZURE</B></h1>
</div>

<img src="assets/c4.jpeg" class="container-fluid" height="500px">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">The Azure cloud platform is more than 200 products and cloud services designed to help you bring new solutions to life—to solve today’s challenges and create the future.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">Build, run and manage applications across multiple clouds, on-premises and at the edge, with the tools and frameworks of your choice.</h3>
</div>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-terminal-split"></i>Trust your cloud</h3>
    </div>
    <div class="card-body">
    <h4>Build cloud-connected mobile experiences based on customer interests and behaviors using AI and cognitive services.</h4>
    </div>

</div>
</div>
<div class="col-1">

</div>
<div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-unity"></i>Operate hybrid seamlessly</h3>
    </div>
    <div class="card-body">
    <h4> On-premises, across multiple clouds and at the edge—we will meet you where you are. Integrate and manage your environments with services designed for hybrid cloud.</h4>
</div>

</div>
</div>
<br>
<div class="col-1">

</div>
<div class="col-3">

<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-sliders"></i>Build on your terms</h3>
    </div>
    <div class="card-body">
    <h4>With a commitment to open source and support for all languages and frameworks, build how you want and deploy where you want to.</h4>
    </div>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success">Choose an Azure partner with verified capability</h5>
                <P>
                    Azure advanced specialization partners and Azure Expert Managed Services Provider (MSP) undergo rigorous and independent technical validation of their capabilities to ensure they meet Microsoft standards. Move forward confidently, knowing your partner has proven their abilities and is committed to your success.</P>
        </div>
     <div class="col-6">
    <img src="assets/C3.jpeg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>
 
