<div>
    <h1 class="display-1 text-center"><b> PYTHON</b></h1>
</div>

<img src="assets/z7.jpg" class="container-fluid" height="400px">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation via the off-side rule. Python is dynamically typed and garbage-collected.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">The Python programming language has various use cases in many growing fields, including:</h3>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success">5 advantages of Python</h5>
                 <h4>
                    <B> 1. Large developer community</B>
                    Python is one of the most popular programming languages in the world. In Stack Overflow’s 2021 Developer Survey, 48% of respondents said they work with Python. When other respondents were asked which technology they had a desire to learn, Python ranked first as the most wanted technology among developers.</h4>
               <h4>
                    <b>2. Extensive libraries</b> Python offers a wide range of libraries that can be used across various applications. Libraries are collections of resources that help us streamline application development. Instead of writing every piece of code from scratch, we can use libraries, which contain many pre-written functions and classes.
<br>
                   <b>  Some popular Python libraries include:</b>
                    <br>
                   <b> Numpy and SciPy:</b> For scientific computing, with a wide range of functions, algorithms, and optimizations, including linear algebra and statistics
                    Keras, Seaborn, TensorFlow, and SciKit-Learn: For machine learning, artificial intelligence, natural language processing, and neural networks<br>
                  <b>   Scrapy:</b> For data science, allows you to make an effective web crawler and data scraper<br>
                   <b>  Pandas: </b>For data analysis, including data cleaning and manipulating both relational and labeled data<br>
                    <b> Matplotlib and Plotly:</b> For data visualization and plotting graphs
                 </h4>
                 <h4>
                <b> 3. Write less, do more</b><br>

                <b> 4. Portability</b><br>
                <b> 5. Wide range of use cases</b>
                </h4>
        </div>
     <div class="col-6">
    <img src="assets/p5.jpeg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>

    <a href="assets\Python.pdf">
        <button  class="btn btn-primary px-3"> check detials</button></a>
