<h1 class="text-center"><B>SAP Sales and Distribution</B></h1>
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
<h3>SAP Sales and Distribution (SAP SD) is a core functional module in SAP ERP Central Component 
    (ECC) that allows organizations to store and manage customer- and product-related data. 
    Organizations use this data to manage all of the sales ordering, shipping, billing, and 
    invoicing of their goods and services.</h3>
</div>
<div class="col-3"><img src="assets/s9.png" width="100%"></div>
</div>
<h1 class="text-center
"><b>Data types in SAP SD</b>
</h1>
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <img src="assets/s8.jpg" width="100%">
        </div>
    <div class="col-8">
<h4 > As with all the modules in SAP ECC, everything in SAP SD revolves around master data stored and 
    manipulated in centralized master data tables. There are two other data types in ECC: transactional 
    data and customizing data. Master data types in SD include customer data, pricing and materials. 
    The master data is used to create transactional data in SAP ECC, such as a sales order in SD, 
    
    maintenance record in PM, purchase order in MM or production order in PP. Customizing data is
     generated when an organization customizes SD to meet its particular requirements.</h4></div>
 
</div>
<h1 class="text-center"> Why is SAP SD important?</h1>
<div class="the">
<h3 class="the"><b> SAP SD sub-modules
</b></h3>
<h4>SAP SD consists of several sub-modules that can be configured to handle specific functions in the module:</h4>
<h4>SD Master Data (SD-MD) tracks each transaction that affects the SD module's data, including customer data, materials data, price condition records, and credit management.</h4>
<h4>SD Basic Functions (SD-BF) allows you to establish the basic functions that work across SD, such as pricing, goods availability check and credit management.</h4>
<h4>SD Sales (SD-SLS) handles the details of the sales process, such as customer data, products, pricing and feedback.</h4>
<h4>SD Shipping (SD-SHP) tracks the details of the shipping process, including when and how the order is shipped through to delivery or return.</h4>
<h4>SD Transportation (SD-TBA) works closely with SD-SHP and keeps track of all the transportation data involved in the shipment.</h4>
<h4>
    SD Foreign Trade (SD-FTT) handles the details related to foreign trade transactions, including both exports and imports.
</h4>
<h4> SD Billing (SD-BIL) manages billing data, including the amounts of the transactions and methods of payment.</h4>
<h4>
    SD Sales Support (SD-CAS) handles the data generated in the interactions between customers and sales teams.
</h4>
</div>