<h1 class="text-center"><B>SAP Production Planning</B></h1>
<div class="row">
    <div class="col-6">
        <H3 class="text-left">SAP Production Planning (SAP PP) is the component of ERP Central Component (ECC) that helps businesses plan the manufacturing, sale and distribution of goods.</H3></div>
        <div class="col-5">
            <img src="assets/PP.jpg " class="rounded-right"></div>

   
</div>
    <H1 class="text-center">Why is SAP PP used?</H1>
    <div class="row">
        <div class="col-3">
    <IMG src="assets/PP2.jpg" class="rounded-left">
    </div>
    <div class="col-8">
        <h3 >The Production Planning (PP) module enables production planning based on both market demand and production capacity. PP creates schedules for production, for procurement and for purchasing. This ensures that raw materials are available for production as required.</h3>
    </div>
</div>