<h1 class="text-center"><B> Business Application Software Integrated Solution.</B></h1>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-7">
<h3>SAP stands for Systems, Applications & Products in Data Processing while BASIS stands for Business 
    Application Software Integrated Solution. Basis administrators are involved in maintenance, system 
    upgrade, setting up of system jobs, monitoring and analysing system logs and other administrative 
    activities.</h3></div>
    <div class="col-4">
<img src="assets/b8.jpg" width="80%"></div>
</div>
<h1 class="text-center "> <b>Why is SAP BASIS important?</b></h1>
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <img src="assets/b7.jpg " width="80%">
        </div>
    <div class="col-8">

<h4> Installation of SAP database and applications</h4>
<h4>SAP administrators are responsible for the planning, preparation and installation of SAP
     applications onto an organisation's servers. They help monitor and troubleshoot performance and 
     start-up issues, customize settings or take care of software logistics in the SAP landscape.
      In short, they take care of installing, arranging and maintaining all SAP-related components. 
      SAP admins also work to ensure that the platform is running at its optimal capacity and that all 
      modules are communicating effectively with each other as needed</h4></div>
</div>