<div class="container">
<img  class="loginImg" src="assets/d7.jpeg" />

    <br><br>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 card loginFm">
        
            <div class="heading py-3">
                <h3>Login page</h3>
            </div>
            <div class="form ">
  <form name="myForm" onsubmit="return(validateinputs());">
             <label>Email:</label>
 <input type="text" class="form-control" formControlName="email" id="un" placeholder="Enter Email">
                    <br>
                    
<button (click)="open()" class="btn btn-primary px-3">Login</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>
