<div class="display-1">
    <h1 class=" text-center bg-light">
      <b>  ABOUT US</b>
    </h1>

</div>
<br>

<div class="row">
    <div class="col-6">
        <div class="img-thumbnail">
            <img src="assets/Z1.jpg" class="img-thumbnail" width="100% " height="790PX">
        
        </div>
    </div>
    <div class="col-6">
<div class="display-1">
    <h1 class="text-uppercase"><b> Our Mission and Vision</b></h1>
    </div>
  <blockquote>
    "Without sharpening your weapon, standing on the battlefield would not increase your chance of winning."
  </blockquote>
  <div >
<h4>The World Economic Forum Future of Jobs report suggested that by 2030, complex problem-solving, 
  critical thinking, creativity, people management and emotional intelligence would be among the most important skills required in the workplace.</h4>
<h4>
    SUMAN IT is a skill-building platform for people who are willing to learn no matter which age group you belong. In today’s world, focus of every recruiter is more on skilled person than on a degree holder. 
    To develop right skill, you need right learning platform and hands-on experience.
</h4>
<h4>
    We, at Sumanitservice provide you with courses that are in most demand in the industry at a very affordable price along with quizzes and live project, giving you every bit of experience that will  make you industry ready.
</h4>
</div>

</div>
</div>
<br>

<div class="bg-light">
    <div class="display-1">
        <h1 class="text-uppercase text-center">
           <b>  WHY SUMAN IT training institution?</b>
        </h1>
       <hr>
        <h3 class="text-center">
            We make learning easier, convenient and practical for you
        </h3>
        <div class="row">
          <div class="col-1"></div>
        <div class="col-5">
            <img src="assets/y2.jpg" width="100%" height="455px">
        </div>
        <div class="col-6">
          <h3><b>Step1:</b></h3>
          <h4>We provide industry experts, and the best guidance towards practical exposure</h4>
          <h3><b>Step2:</b></h3>
          <h4>These course helps students to enhance their knowledge and upgrade the skills in required fields</h4>
          <h3><b>Step3:</b></h3>
          <h4>We trained the student for luminious career by providing a innovative learning.</h4>
          <h3><b>Step4:</b></h3>
          <h4>We provide the live project for the transparent view to the student, and hand-on-experience training.
          </h4>
          <h3><b>Step5:</b></h3>
          <h4>We offer placement and assist towards 100% placement.</h4>
        </div></div>
        <br>
        <section class="services">
            
            <div class="box-container">
            <div class="box"><a routerLink="/courses">
              <img src="assets\b1.png" class="rounded-circle">
                 
                   <h3>Budget friendly​</h3>
                 <h4 >
                    Unlike other courses, here at SUMAN ITyou will learn great things that too at a very reasonable price​
                 </h4></a >
                </div>
                <div class="box"><a routerLink="/courses">
                   <img src="assets\b2.jpeg" >
                
                  <h3>Easy to follow Courses​</h3>
                <h4>
                    Each couse is designed in such a way that learning can be fun and interesting. We can connect to students even in recorded videos​
                </h4></a>
               </div>
               <div class="box"> <a routerLink="/courses">
          
                <img src="assets\b3.jpeg" >
                <h3>Zero to Hero</h3>
               <h4>
                Each course is designed for absolute beginners, and to start a course, you just need a system and an internet, nothing else​
               </h4></a>
             </div>
             <div class="box"> <a routerLink="/courses">
          
              <img src="assets\f6.jpg" >
              <h3>Live Project</h3>
        
             <h4>
              We will be provided with realtime online project, so that you can track your performance             </h4></a>
           </div>
           <div class="box"> <a routerLink="/courses">
          
            <img src="assets\f7.jpg" >
            <h3>Get Certified</h3>
           <h4>
            After finishing every course, you will be able to get a certificate which can be added to your resume           </h4></a>
         </div>
            </div>
        </section>
    </div>
</div>

<marquee>
  <section class="services">
    <div class="box-container r">
    <div class="box"><a routerLink="/powerbi">
      <img src="assets\p1.jpg" class="rounded-circle"  >
           <h3>POWER BI</h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3">Read more.</button></a></a>
        </div>

        <div class="box"><a  routerLink="/python">
           <img src="assets\p2.jpg" class="rounded-circle" routerLink="/python" >
          <h3>PYTHON</h3>
          <a href="assets\Python.pdf">
            <button  class="btn btn-primary px-3">Read more.</button></a></a>
       </div>

       <div class="box"><a routerLink="/sap">
        <img src="assets\d6.jpeg"  class="rounded-circle" routerLink="/sap">
        <h3>SAP</h3>
        <a href="assets\sap.pdf" >
          <button  class="btn btn-primary px-3">Read more.</button></a></a>
     </div>
     
     <div class="box"><a routerLink="/devops">
      <img src="assets\p3.png" class="rounded-circle"routerLink="/devops">
      <h3>DevOps</h3>
      <a href="assets\devop.pdf" >
        <button  class="btn btn-primary px-3">Read more.</button></a></a>
   </div>
   
 <div class="box"><a routerLink="/aws">
  <img src="assets\download.png" class="rounded-circle" routerLink="/aws">
  <h3>AWS</h3>
  <a href="assets\aws.pdf">
    <button  class="btn btn-primary px-3">Read more.</button></a></a>
</div>
<div class="box"><a  routerLink="/digital">
  <img src="assets\DI.jpeg"  class="rounded-circle"  routerLink="/digital">
     
       <h3>DIGITAL MARKETING</h3>
       <a href="assets\DigitalMarketingCourseContent29.pdf">
       <button  class="btn btn-primary px-3">Read more.</button></a></a>
    </div>
    
    <div class="box"><a routerLink="/micro">
      <img src="assets\MM.png" class="rounded-circle " routerLink="/micro" >
         
           <h3>Microsoft Dynamic CRM</h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3">Read more.</button></a></a>
    </div>
    
    <div class="box"><a routerLink="/azure" >
      <img src="assets\d5.png" class="rounded-circle"routerLink="/azure" >
         
           <h3>AZURE </h3>
           <a href="assets\">
           <button  class="btn btn-primary px-3">Read more.</button></a></a>
    </div>
    <div class="box"><a routerLink="/django">
      <img src="assets\dj.png"  class="rounded-circle"routerLink="/django">
         
           <h3>D JANGO</h3>
           <a href="assets\d.pdf" >
           <button  class="btn btn-primary px-3">Read more.</button></a></a>
    </div>
    </div>
   
</section>
    </marquee>
    <footer
    class="text-center text-lg-start text-black"
    style="background-color: #cdd3de"
    >
<!-- Section: Social media -->

<section
       class="d-flex justify-content-between p-6"
       style="background-color: #4b9cdf"
       >
<!-- Left -->
<div class="me-5">
  <span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
  <a href="" class="text-white me-4">
    
  </a>
  <a href="" class="text-white me-4">
    <i class="bi bi-facebook" ></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="bi bi-instagram"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="bi bi-twitter"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="bi bi-linkedin"></i>
  </a>
  
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
  <!-- Grid row -->
  <div class="row mt-3">
    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold"><b> Suman IT</b></h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #965bc9; height: 2px"
          />
      <p>
        Suman IT is devoted to excellence in teaching, learning,
         and research, and developing leaders in IT industry 
         who make a difference globally.
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold"><b> courses</b></h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
        <a href="#!" class="text-black">POWER BI</a>
      </p>
      <p>
        <a href="#!" class="text-black">PYTHON</a>
      </p>
      <p>
        <a href="#!" class="text-black">AWS</a>
      </p>
      <p>
        <a href="#!" class="text-black">SAP</a>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Useful links</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
        <a href="#!" class="text-black">PRIVACY POLICY</a>
      </p>
      <p>
        <a href="#!" class="text-black">TERMS AND CONDITIONS</a>
      </p>
      <p>
        <a href="#!" class="text-black">DISCLAIMER</a>
      </p>
      <p>
        <a href="#!" class="text-black">SUPPORT</a>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Contact</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p><i class="bi bi-geo-alt-fill"></i>Flat No.207,Niligiri Block Aditya Enclave,   Ameerpet HYDERBAD -500038</p>
      <p><i class="bi bi-envelope-fill"></i>Sumanitservice@gmail.com</p>
      <p><i class="bi bi-telephone-plus-fill"></i> + 91 73869 77110</p>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
   class="text-center p-3"
   style="background-color: rgba(0, 0, 0, 0.2)"
   >
© 2020 Copyright:
<a class="text-white" href="#">Suman IT website Developed by <span>Sieve Softech India Pvt. Ltd.</span> </a>

</div>
<!-- Copyright -->
</footer>
