<div class="row">
 
  <div class="col-4"><img src="assets/c1.jpg" width="300%"  height="200px"></div>
    <div class="col-4">
     
        <h1 class="display-1">
          <b>CONTACT US</b>
        </h1>
    <div class="col-3"></div>
    </div>
    <hr>
    <h3 class="text-center text-primary">
        WE'D LOVE TO HEAR FROM YOU​
    </h3>
    <h4 class="text-center">
        Kindly connect with us for query, collaboration or tieup. We also collaborate with schools,
         colleges and corporate for integration of our courses with their curriculum​.
    </h4>
    </div>
    <br>
    
    <div class="row">
      <div class="col-1"></div>
        <div class="col-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.947863462972!2d78.4447355!3d17.4363915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90cf6fbdc69d%3A0xf3cae45f3dcd2bc1!2sSuman%20It!5e0!3m2!1sen!2sin!4v1688969520223!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class=" panel panel-heading text-center">
                <h3>CONTACT US</h3>
            </div>
            <form >
                <div class="panel-body">
                <div class="form-group">
    
           
                <input type="text" placeholder="Enter a name" class="form-control"  [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
     <br>
                <input type="email" placeholder="Enter a email"class="form-control"  [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                <br>
                <input type="tel" placeholder="Enter a moblie number" class="form-control"  [(ngModel)]="user.mobile" [ngModelOptions]="{standalone: true}">
                <br>
                <textarea placeholder="Enter a message" class="form-control"  [(ngModel)]="user.message" [ngModelOptions]="{standalone: true}"></textarea>
                <br>
                <button class="btn btn-primary  " (click)="openaccount()" > submit </button>
            </div>
                </div>
                <div class="panel-footer text-right">
                    <small>&copy; suman it</small>
                </div>
            </form>
        </div>
    </div>
    <marquee>
      <section class="services">
        <div class="box-container r">
        <div class="box"><a routerLink="/powerbi">
          <img src="assets\p1.jpg" class="rounded-circle"  >
               <h3>POWER BI</h3>
               <a href="assets\">
               <button  class="btn btn-primary px-3">Read more.</button></a></a>
            </div>
    
            <div class="box"><a  routerLink="/python">
               <img src="assets\p2.jpg" class="rounded-circle" routerLink="/python" >
              <h3>PYTHON</h3>
              <a href="assets\Python.pdf">
                <button  class="btn btn-primary px-3">Read more.</button></a></a>
           </div>
    
           <div class="box"><a routerLink="/sap">
            <img src="assets\d6.jpeg"  class="rounded-circle" routerLink="/sap">
            <h3>SAP</h3>
            <a href="assets\sap.pdf" >
              <button  class="btn btn-primary px-3">Read more.</button></a></a>
         </div>
         
         <div class="box"><a routerLink="/devops">
          <img src="assets\p3.png" class="rounded-circle"routerLink="/devops">
          <h3>DevOps</h3>
          <a href="assets\devop.pdf" >
            <button  class="btn btn-primary px-3">Read more.</button></a></a>
       </div>
       
     <div class="box"><a routerLink="/aws">
      <img src="assets\download.png" class="rounded-circle" routerLink="/aws">
      <h3>AWS</h3>
      <a href="assets\aws.pdf">
        <button  class="btn btn-primary px-3">Read more.</button></a></a>
    </div>
    <div class="box"><a  routerLink="/digital">
      <img src="assets\DI.jpeg"  class="rounded-circle"  routerLink="/digital">
         
           <h3>DIGITAL MARKETING</h3>
           <a href="assets\DigitalMarketingCourseContent29.pdf">
           <button  class="btn btn-primary px-3">Read more.</button></a></a>
        </div>
        
        <div class="box"><a routerLink="/micro">
          <img src="assets\MM.png" class="rounded-circle " routerLink="/micro" >
             
               <h3>Microsoft Dynamic CRM</h3>
               <a href="assets\">
               <button  class="btn btn-primary px-3">Read more.</button></a></a>
        </div>
        
        <div class="box"><a routerLink="/azure" >
          <img src="assets\d5.png" class="rounded-circle"routerLink="/azure" >
             
               <h3>AZURE </h3>
               <a href="assets\">
               <button  class="btn btn-primary px-3">Read more.</button></a></a>
        </div>
        <div class="box"><a routerLink="/django">
          <img src="assets\dj.png"  class="rounded-circle"routerLink="/django">
             
               <h3>D JANGO</h3>
               <a href="assets\d.pdf" >
               <button  class="btn btn-primary px-3">Read more.</button></a></a>
        </div>
        </div>
       
    </section>
        </marquee>
<footer
class="text-center text-lg-start text-black"
style="background-color: #cdd3de"
>
<!-- Section: Social media -->

<section
   class="d-flex justify-content-between p-6"
   style="background-color: #4b9cdf"
   >
<!-- Left -->
<div class="me-5">
<span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" class="text-white me-4">

</a>
<a href="" class="text-white me-4">
<i class="bi bi-facebook" ></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-instagram"></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-twitter"></i>
</a>
<a href="" class="text-white me-4">
<i class="bi bi-linkedin"></i>
</a>

</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
<!-- Grid column -->
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  <!-- Content -->
  <h6 class="text-uppercase fw-bold">Suman IT</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #965bc9; height: 2px"
      />
  <p>
    Suman IT is devoted to excellence in teaching, learning,
     and research, and developing leaders in IT industry 
     who make a difference globally.
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">courses</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a href="#!" class="text-black">POWER BI</a>
  </p>
  <p>
    <a href="#!" class="text-black">PYTHON</a>
  </p>
  <p>
    <a href="#!" class="text-black">AWS</a>
  </p>
  <p>
    <a href="#!" class="text-black">SAP</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Useful links</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a href="#!" class="text-black">PRIVACY POLICY</a>
  </p>
  <p>
    <a href="#!" class="text-black">TERMS AND CONDITIONS</a>
  </p>
  <p>
    <a href="#!" class="text-black">DISCLAIMER</a>
  </p>
  <p>
    <a href="#!" class="text-black">SUPPORT</a>
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Contact</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p><i class="bi bi-geo-alt-fill"></i>Flat No.207,Niligiri Block Aditya Enclave,   Ameerpet HYDERBAD -500038</p>
  <p><i class="bi bi-envelope-fill"></i>Sumanitservice@gmail.com</p>
  <p><i class="bi bi-telephone-plus-fill"></i> + 91 73869 77110</p>
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2020 Copyright:
<a class="text-white" href="#">Suman IT website Developed by <span>Sieve Softech India Pvt. Ltd.</span> </a>

</div>
<!-- Copyright -->
</footer>