<div>
    <h1 class="display-1 text-center"><B> D jango</B></h1>
</div>

<img src="assets/download.jpeg" class="container-fluid">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.</h3>
</div>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-terminal-split"></i> Ridiculously fast</h1>
    </div>
    <div class="card-body">
    <h4>Django was designed to help developers take applications from concept to completion as quickly as possible.</h4>
    </div>

</div>
</div>
<div class="col-1">

</div>
<div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-unity"></i>Reassuringly secure.</h1>
    </div>
    <div class="card-body">
    <h4>Django takes security seriously and helps developers avoid many common security mistakes.</h4>
</div>

</div>
</div>
<br>
<div class="col-1">

</div>
<div class="col-3">

<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-sliders"></i> Exceedingly scalable.</h1>
    </div>
    <div class="card-body">
    <h4>Some of the busiest sites on the web leverage Django’s ability to quickly and flexibly scale.</h4>
    </div>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      <h3>
        <b> Models:</b> Introduction to models | Field types | Indexes | Meta options | Model class<BR>
<b> QuerySets:</b> Making queries | QuerySet method reference | Lookup expressions<BR>
<b> Model instances: </b>Instance methods | Accessing related objects<BR>
<b> Migrations:</b> Introduction to Migrations | Operations reference | SchemaEditor | Writing migrations<BR>
<b> Advanced:</b> Managers | Raw SQL | Transactions | Aggregation | Search | Custom fields | Multiple databases | Custom lookups | Query Expressions | Conditional Expressions | Database Functions<BR>
<b> Other: </b>Supported databases | Legacy databases | Providing initial data | Optimize database access | PostgreSQL specific features
      </h3>
        </div>
     <div class="col-6">
    <img src="assets/z6.jpg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>


