<div class="headerr">
    <h1>ITS TIME TO CELEBRATE! THE BEST EVENT ORGANIZERS </h1>

  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
    </div>
    <div class="column">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
      <img src="" style="width:100%">
    </div>  
    
   
  </div>
