<h1 class="text-center"><b> High-performance ANalytic Appliance</b></h1>
<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
  <h3>SAP HANA (High-performance ANalytic Appliance) is a multi-model database that stores data in its memory instead of keeping it on a disk.</h3>
</div>
<div class="col-5"><img src="assets/h9.png" width="60%">
    </div>
    <div class="col-1"></div>
</div>
<h1 class="text-center"> <b>Why is SAP HANA important?</b></h1>
<div class="row">
<div class="col-1"></div>
<div class="col-3">
   <img src="assets/h8.png">
</div>
<div class="col-7">
<h4>Many organizations have vast amounts of data that essentially sits in a data warehouse and provides no value, amounting to terabytes of untapped potential that could be used to accelerate business impact and provide greater customer value.

    With its lightning-fast, in-memory processing and real-time data analytics powered by machine learning, SAP HANA harnesses a company’s data and puts it to work for them, streamlining processes, eliminating errors, and providing benefits to clients, customers and employees. Enhance customer satisfaction with up-to-the minute product availability 
    that can be accessed on any smart phone. Keep employees happy with simplified accounting processes, instant updates on benefits or vacation time, and enhanced collaboration platforms. And help managers and executives plan for the future with predictive analytics that can forecast supply chain issues, manage cash flow, and integrate team workflows
     for heightened efficiency.</h4>
  </div>
</div>