<div>
    <h1 class="display-1 text-center">DEVOPS</h1>
</div>

<img src="assets/y1.png" class="container-fluid" height="400px">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">DevOps Engineer Training Master's Program will prepare you for a career in DevOps technologies. Through this DevOps Engineer course, you will develop technical expertise in deploying, managing, and monitoring cloud applications.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">Automate the Functional, Regression and Stress testing of Microsoft Power BI Reports.</h3>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success"><B> Google Cloud Hands-on Labs</B></h5>
                 <h4>
                    Google Cloud Hands-on Labs are interactive learning modules that enable individuals to explore and experiment with Google Cloud services at their own convenience. These are Self Paced labs which provide hands-on experience, allowing users to practice and build skills in a sandbox environment without the need for additional infrastructure or resources.

In our program, we have created a module called "A Walkthrough of DevOps using Google Cloud." This module offers you access to four labs that will help you learn and explore various aspects of Google Cloud  
                  </h4>
        </div>
     <div class="col-6">
    <img src="assets/p7.jpeg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>
    

