<div>
    <h1 class="display-1 text-center"><B> MICROSOFT DYNAMIC CRM</B></h1>
</div>

<img src="assets/n1.jpeg" class="container-fluid">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">The core objective of using CRM is straightforward—build and improve relationships with customers. For businesses to accomplish this, CRM must enable sales reps to free up time, automate tasks, and improve productivity.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">And, Microsoft Dynamics—an archaic CRM accompanied by a bloated cost structure—is far from “gets the job done.”</h3>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success">4 reasons why Freshsales is the best alternative to Microsoft Dynamics</h5>
<H3> Freshsales was awarded the Great User Experience Award by Finances Online in the CRM software category. The clean, simple, and intuitive UI contributes significantly to the quality of user experience. Bloated CRM software like Microsoft Dynamics can be obtuse when it comes to performing simple tasks like opening records and apps. A new window or tab opens for every click action forcing you to go back and forth breaking the user experience. One of the top challenges for CRM users is insufficient training on the system. Microsoft Dynamics has a steep learning curve that requires extensive training. With Freshsales CRM, your sales team need little to no training to get started. The aesthetically designed and pleasing interface on every screen and the workflow simplicity of each feature offers a seamless experience for sales teams to adopt and consistently use the CRM.</H3>        </div>
     <div class="col-6">
    <img src="assets/n2.jpeg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>

    <marquee>
        <section class="services">
            <div class="box-container">
            <div class="box">
              <img src="assets\d11.jpeg"  >
                   <h3>POWER BI</h3>
                   <a href="assets\">
                   <button  class="btn btn-primary px-3"> view more</button></a>
                </div>
        
                <div class="box">
                   <img src="assets\d2.png" >
                  <h3>PYTHON</h3>
                  <a href="assets\Python.doc">
                    <button  class="btn btn-primary px-3"> view more</button></a>
               </div>
               <div class="box">
                <img src="assets\d6.jpeg"  >
                <h3>SAP</h3>
                <a href="assets\sap.docx" >
                  <button  class="btn btn-primary px-3">view more</button></a>
             </div>
             
             
             <div class="box">
               <img src="assets\d4.png">
              <h3>DevOps</h3>
              <a href="assets\devop.pdf" >
                <button  class="btn btn-primary px-3"> view more</button></a>
           </div>
           
         <div class="box">
          <img src="assets\download.png" >
          <h3>AWS</h3>
          <a href="assets\aws.pdf">
            <button  class="btn btn-primary px-3"> view more</button></a>
        </div>
        <div class="box">
          <img src="assets\DI.jpeg"  >
             
               <h6>Digitalmarketing</h6>
               <a href="assets\DigitalMarketingCourseContent29.doc">
               <button  class="btn btn-primary px-3">view more</button></a>
            </div>
            
            <div class="box">
              <img src="assets\MM.png"  >
                 
                   <h6>MSdynamicCRM</h6>
                   <a href="assets\">
                   <button  class="btn btn-primary px-3"> view more</button></a>
            </div>
            
            <div class="box">
              <img src="assets\d5.png" >
                 
                   <h3>AZURE </h3>
                   <a href="assets\">
                   <button  class="btn btn-primary px-3"> view more</button></a>
            </div>
            <div class="box">
              <img src="assets\dj.png"  >
                 
                   <h3>D JANGO</h3>
                   <a href="assets\diango.doc">
                   <button  class="btn btn-primary px-3"> view more</button></a>
            </div>
            </div>
        
        </section>
        </marquee>
    <footer
              class="text-center text-lg-start text-white"
              style="background-color: #1c2331"
              >
        <!-- Section: Social media -->
      
        <section
                 class="d-flex justify-content-between p-6"
                 style="background-color: #6351ce"
                 >
          <!-- Left -->
          <div class="me-5">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
    
          <!-- Right -->
          <div>
            <a href="" class="text-white me-4">
              
            </a>
            <a href="" class="text-white me-4">
              <i class="bi bi-facebook" ></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="bi bi-linkedin"></i>
            </a>
            
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">Suman IT</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  Suman IT is devoted to excellence in teaching, learning,
                   and research, and developing leaders in IT industry 
                   who make a difference globally.
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">courses</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-white">POWER BI</a>
                </p>
                <p>
                  <a href="#!" class="text-white">PYTHON</a>
                </p>
                <p>
                  <a href="#!" class="text-white">AWS</a>
                </p>
                <p>
                  <a href="#!" class="text-white">SAP</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Useful links</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-white">PRIVACY POLICY</a>
                </p>
                <p>
                  <a href="#!" class="text-white">TERMS AND CONDITIONS</a>
                </p>
                <p>
                  <a href="#!" class="text-white">DISCLAIMER</a>
                </p>
                <p>
                  <a href="#!" class="text-white">SUPPORT</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p><i class="bi bi-geo-alt-fill"></i>Flat No.207,Niligiri Block Aditya Enclave,   Ameerpet HYDERBAD -500038</p>
                <p><i class="bi bi-envelope-fill"></i>Sumanitservice@gmail.com</p>
                <p><i class="bi bi-telephone-plus-fill"></i> + 91 73869 77110</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          © 2020 Copyright:
          <a class="text-white" href="#">Suman IT website Developed by <span>Sieve Softech India Pvt. Ltd.</span> </a>
    
        </div>
        <!-- Copyright -->
      </footer>
