<div>
    <h1 class="display-1 text-center"><b> SAP</b></h1>
</div>

<img src="assets/z5.jpg" class="container-fluid" height="500px">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">Whether adopting your first ERP or migrating from an existing one, choose a complete, modular solution that meets every business need.</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">Automate the Functional, Regression and Stress testing of Microsoft Power BI Reports.</h3>
</div>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-terminal-split"></i><b> Industrial metaverse, AI set to transform manufacturing</b></h3>
    </div>
    <div class="card-body">
    <h4>Industrial metaverse, AI set to transform manufacturing
        Manufacturing is moving into the industrial metaverse .</h4>
    </div>

</div>
</div>
<div class="col-1">

</div>
<div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-unity"></i><b> Cloud CAD software helps usher in digital manufacturing era</b></h3>
    </div>
    <div class="card-body">
    <h4>SolidWorks and Onshape co-founder Jon Hirschtick.</h4>
</div>

</div>
</div>
<br>
<div class="col-1">

</div>
<div class="col-3">

<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h3><i class="bi bi-sliders"></i><b> post-ERP implementation</b></h3>
    </div>
    <div class="card-body">
    <h4>Project leaders can navigate post-ERP implementation challenges by taking these steps. </h4>
    </div>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success">10 steps you need to carry out post-ERP implementation</h5>
                 <h4>
                    SAP Sucess Factors is one of the key modules in SAP and is also related to SAP HR. It is an ideal framework for the HR department to take advantage of the administration and payroll. We provide SAP Success Factors Online training. BBA, MBA(HR) and HR Experience candidates can prefer SAP Success Factors course. It is the HANA version of SAP HCM.

                    Learn More
                  </h4>
        </div>
     <div class="col-6">
    <img src="assets/z6.jpg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>


