
<div class="container-fulid">
  <div class="row">
    <div class="col-lg-2">
      <img src="assets\l1.jpeg"  height="60" width="190">
    </div>
    <div class="col-lg-4">
      <ul class="nav ">
        <li class="nav-list">
          <a  routerLink="/mainpage" ><i class="bi bi-house-add-fill"></i>HOME</a>
        </li>
        <li class="nav-list">
          <a routerLink="/aboutus"><i class="bi bi-award-fill"></i>ABOUT US</a>
          </li>
          <li class="nav-list">
          
              <a routerLink="/courses" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="navbarDropdown"><i class="bi bi-trophy-fill"></i>COURSES</a>
              <div class="dropdown-menu">
                <a routerLink="/powerbi" class="dropdown-item">POWER BI</a>
                <a routerLink="/python" class="dropdown-item"> PYTHON</a>
    
                <a routerLink="/aws" class="dropdown-item">AWS</a>
               <a routerLink="/devops" class="dropdown-item">DEVOPS</a>
                <a routerLink="/digital" class="dropdown-item">DIGITAL MARKERTING</a>
                <a routerLink="/micro" class="dropdown-item">MS DYNAMIC CRM</a> 
                <a routerLink="/azure" class="dropdown-item">AZURE</a>  
                <a routerLink="/django" class="dropdown-item">D JANGO</a> 
                <li><hr class="dropdown-divider"></li> 
             <a  routerLink="/sap" class="dropdown-item sap" > sap<i class="bi bi-caret-right-fill" (click)="showSubmenu()"></i></a> 
            <div class="subDropdown"*ngIf="submenu">
              <a routerLink="/fico" class="dropdown-item" >FICO</a>
              <a routerLink="/mm" class="dropdown-item" >MM</a>
              <a routerLink="/abap" class="dropdown-item" >ABAP</a>
              <a routerLink="/basis" class="dropdown-item" >BASIS</a>
              <a routerLink="/sd" class="dropdown-item" >SD</a>
              <a routerLink="/hana" class="dropdown-item" >HANA</a>
              <a routerLink="/pp" class="dropdown-item" >PP</a>
              <a routerLink="/grc" class="dropdown-item" >GRC SECURE</a>
            </div> 
            
        </div>
    </li>
     
            <li class="nav-list">
            <a routerLink="/gallery"><i class="bi bi-person-badge"></i>GALLERY</a>
            </li>
            <li class="nav-list">
            <a routerLink="/contact"><i class="bi bi-chat-text-fill"></i>CONTACT</a>
             </li>  
      
      </ul>
    </div>
    <div class="col-lg-3">
      <a href="#">
        <i class="bi bi-facebook" ></i>
      </a>
      <a href="#" >
        <i class="bi bi-instagram"></i>
      </a>
  
      <a href="#" >
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#" >
        <i class="bi bi-linkedin"></i>
      </a> 
    </div>
    <div class="col-lg-3">
      <button class="btn btn-primary"> <a routerLink="/contact">REGISTRATION</a></button>
    </div>
  </div>
</div>
 <div >
  <a href="https://wa.me/7893900268">
    <img src="assets/whatsapp.png" class=" the" width="100px"></a>
 </div>  
<div> <a href="7013158366"> <img src="assets/phne.jpg"  class=" thee" width="70px"></a></div>