<div>
    <h1 class="display-1 text-center"><b> POWER BI</b></h1>
</div>

<img src="assets/h1.png" class="container-fluid" height="400px">
<div class=" container-fluid">
    <div class="bg-info width=90">
        <h3 class="container">BI Validator automates the testing of your Microsoft Power BI Reports, Pages, Visuals and Datasets</h3>
    </div>
</div>
<br>
<br>

<div class=" container">
    <h1 class="text-success text-center">Key Features & Benefits</h1>
   <h3 class="text-center">Automate the Functional, Regression and Stress testing of Microsoft Power BI Reports.</h3>
</div>

<div class="row">
    <div class="col-1">
    </div>

    <div class="col-3">
     <div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-terminal-split"></i>Regression Testing</h1>
    </div>
    <div class="card-body">
    <h4>Baseline and compare Power BI Reports, Pages, Visuals, Filters and Datasets using BI 
        Validator’s Power BI test plan.</h4>
    </div>
</div>
</div>


<div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-unity"></i>Visual Data Validation</h1>
    </div>
    <div class="card-body">
    <h4>Map& compare visual data with data from database SQL query for an end-to-end
         testing of your Power BI reports thus helping build trust.</h4>
</div>
</div>
</div>

<div class="col-3">
<div class="card " style="width: 350px; height: 250px;  border: 400px,rgb(235, 111, 111) solid; border-radius: 4px; box-shadow: 2px;">
    <div class="card-header">
    <h1><i class="bi bi-sliders"></i>Stress Testing</h1>
    </div>
    <div class="card-body">
    <h4>Validate the performance of your reports by simulating concurrent user load on your Power BI service and identify pages that are not meeting your SLA.</h4>
    </div>
</div>
</div>
</div>

<BR>
    <BR>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">

      
               <h5 class="display-3 text-success">Enables Continuous Integration for BI</h5>
                 <h4>
                      By automating the BI Regression and Performance testing, BI Validator enables Continuous Integration for Business Intelligence application development.</h4>
               <h4>
                    <b>Integrates with Jenkins:</b> BI Validator provides a command line interface for kicking of Test Plans. Customers have used this interface to execute tests automatically from Jenkins.</h4>
                 <h4>
           <b>Email Notifications:</b> Key stakeholders are automatically notified by email.</h4>
                  <h4><b>Web Reporting:</b> BI Validator comes with out-of-the-box web reporting. Queries can be executed on the BI Validator repository for additional reporting.
                  </h4>
        </div>
     <div class="col-6">
    <img src="assets/r4.jpeg" class="rounded-right " width="100%"> 
        </div>
    </div>
<div>
    <h3>POWER BI</h3>
    <a href="assets\">
    <button  class="btn btn-primary px-3"> check detials</button></a>
 </div>


