<h1 class="text-center"><b> Advanced Business Application Programming</b></h1>
<div class="row">
    <div class="col-1"></div>

<div class="col-7">
<h3> ABAP (Advanced Business Application Programming) is the name of SAP's proprietary, 
    fourth-generation programming language. It was specifically developed to allow
     the mass-processing of data in SAP business applications.</h3>
    </div>
    <div class="col-3">
<img src=" assets/a7.jpg"></div>
</div>
<h1 class="text-center">The ABAP Workbench</h1>
<div class="row">
<div class="col-1"></div>
<div class="col-3">
    <img src=" assets/a8.png">
</div>
<div class="col-7">
<h3> There are half a dozen important tools that programmers can use when working with ABAP code. 
    They can be found in a development environment named the ABAP Workbench. 
    This environment contains a number of needed development tools, the most commonly used of which accessible through the Object Navigator. 
    You can access the Object Navigator with t-code SE80.</h3></div>
   </div>