
<div class="parallax-1">
    <h2>html</h2>
</div>


<div class="para-1">
    <p>
        The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It is often assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
    </p>
</div>

<div class="parallax-2">
    <h2>CSS</h2>
</div>


<div class="para-2">
    <p>
        Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML. 
        CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
    </p>
</div>

<div class="parallax-3">
    <h2>javascript</h2>
</div>

<div class="para-3">
    <p>
        JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. 
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior, often incorporating third-party libraries
    </p>
</div>
<div class="parallax-4">
    
    <h2>Angular</h2>
</div>

<div class="para-4">
    <p>Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. 
        Angular is a complete rewrite from the same team that built AngularJS.
    </p>
</div>
